body{
    background-color: #1f1f1f;
}
.hello {
    
    color: #FFFFFF;
    font-style: ;
    font-weight: 500;
    margin-top: 4.43%;
    margin-left: 5.51%;
    width: 40%;
    font-size: 35px;
    float:left
}   
.getstarted {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    background-color: #E05100;
    width: 20%;
    box-shadow: 2px 0px 100px rgba(255, 61, 0, 0.47);
    border-radius: 35px;
    float: left;

    margin-left: auto;
    align-items: center;
    text-align: center;
    font-size: 60%;
    height: 10%;
    margin-top: 5%;
    padding: 0.1%;
}
span{
    text-align: center;
    margin-top: 5%;
}

.find {
    margin-top: 0.1%;
    color: #ffffff;
    text-align: center;
}

.rightcontent img
{
    float: right;
    width: 40%;
    margin-right: 05%;
}